body { font-family:Arial, Helvetica, sans-serif; margin:1px 0 0 1px }

table {
    border-collapse:collapse;
    border:0
}
body>table, #genome, #col2, #refOrf, #isolateInf {position:relative}

#mainTab { padding:0 }
#mainTab>ul {padding:0}
#mainTab>ul>li { float:right!important; width:189px; font-size:16px; font-weight:bold}
#main_tab1, #main_tab2 {padding:4px 5px 0 5px}
#main_tab1>table {margin-top:4px}

#tabs {padding:0; font-size:13px; width:843px}
#tabs>div {padding:6px 4px}
#tabs td{padding:0}
#tabs a { text-shadow:2px 1px white}

#top_area {
    position:absolute;
    top:3px; left:3px;
    padding-left:55px; padding-top:7px;
    z-index:2000;
    width:739px; height:33px;
    font-size:21px;
    color:white;
    font-weight:bold;
    background: linear-gradient(to right, gray, 90%, #d3d3d3);
}
#top_area span {
    font-size:12px;
    margin-left:25px;
    vertical-align:middle;
    font-weight:normal
}

#bottom_area {
    background-color:gray;
    line-height:110%;
    color:white;
    font-size:12px;
    position:relative
}
#bottom_area span {margin-left:110px}
#bottom_area a {color:white}
#bottom_area div {position:absolute}
#version, #thank { top:8px; color:white }
#version {right:15px}
#thank {left:777px; text-decoration:underline;cursor:pointer}

#ack {
    position:absolute;
    top:-120px; left:580px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius:4px;
    background-color:#FFFFE0;
    width:450px;
    color:black
}
#ack ul {padding:0 2px 0 27px; margin-bottom:6px}
#ack li {padding:3px 0}
#ack a {color:#428bca}

.close {
    float:right;
    padding:0 5px 2px 5px;
    background:#ddd;
	text-shadow:1px 1px white
}
.close:hover {
    color:#fff;
	cursor:pointer
}

#ids a, #citation a { color: inherit}
#citation {margin-top:0; margin-left:2px; width:103px}
#citation td:hover {font-weight:bold}

#netGraph {margin:0 6px 0 0; padding:2px 0 2px 2px; border:gray thin solid; position:relative}

#graphLg {
    margin:4px 0 0 0;
    font-size:11px;
    font-family:sans-serif
}
#graphLg a {text-decoration:underline; fill:gray}
.lgTitle {font-weight:bold; font-size:10.5px}
.lgExp {font-size:10.5px; font-family:Arial Narrow}
.grayFill {fill:gray}
.fillOrange{fill:orange}

#netGraph circle, #netGraph path {stroke:white; stroke-width:0.5px}

.link {stroke:#999; stroke-width:2px}
/*.link:hover {stroke:red}
.noHover:hover{stroke:black}*/
marker path {fill:#999}

.disabled { cursor:not-allowed }
.disabled > a {
    pointer-events: none;
    color:#bbb!important;
}

.blackLine {stroke:black; fill:none}
.link-extensions{ stroke:lightgray; stroke-dasharray:4,2 }

.pheno {white-space:nowrap}
#collect tr:nth-of-type(even), #citation tr:nth-of-type(even), #ids tr:nth-of-type(odd){
    background:rgb(240,240,240) }
.pheno th {font-size:13px; color:#999; vertical-align:top}
.pheno td {font-size:11px; overflow:hidden}

#collect {margin:42px 1px 0 1px}
#treeContainer {padding:1px 0}
#ids {margin-left:1px}
#ids td, #collect td {padding:0 2px 0 2px}

.lg {fill:#999; font-weight:bold; font-size:13px}
#lg_org {margin-top:25px}

.grayLine {stroke:#999; fill:none}

#treeScale, .lgOrg, #mapC {font-size:11px}
#treeScale text, .mark {fill:#999}
#treeScale tspan { fill:black; font-style:italic}

.map {
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius:4px;
    background-color:#f5f5f5;
}
.mapBg {fill:#f5f5f5}

#mapC { margin:0 25px; text-anchor:middle }
#mapW {margin:0; height:230px}
#siteName {height:20px; margin-left:7px}
#mapW td{padding:0}
#admin {
    width:94px;
    height:213px;
    margin-left:3px;
    overflow-y:scroll;
    overflow-x:hidden;
    font-family:Arial Narrow;
    font-size:11.2px;
    border-top:lightgray thin solid
/*    overflow:auto;*/
}
#admin table {margin:2px 0 0 0}
#admin td {
    height:15px;
    cursor:pointer;
    white-space:nowrap
}

#dateChart, #refOrf, #isolateInf {margin:8px 0 0 0}

.infoTitle {
    font-size:13px;
    font-weight:bold
}
#ref_ncbi {
    position:absolute; top:2px; right:20px;
    font-size:11px; color:gray; font-weight:100; text-decoration:underline
}

.country {fill:lightgray; stroke:white; stroke-width:0.5px}
.country_sel {fill:lightblue}

.whiteFill { fill:white }
.dotStroke {stroke-dasharray:4,1}
.dashStroke {stroke-dasharray:4,2}

.tip {
    position:absolute;
    padding:1px 5px 2px 5px;
    border-radius:4px;
    white-space:nowrap
}
.tooltip {
    background-color:rgba(0, 0, 0, 0.6);
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px
}
#tipORF { margin-top:106px }
#symbol {font-size:13px; text-anchor:middle; font-style:italic }

.hidden { display:none }
.finger { cursor:pointer}
.crosshair {cursor:crosshair}

.shade { fill:none; stroke:#4CC6FF}

.xaxis line, .xaxis path { stroke:#999}
.xaxis text { font-size:11px; fill:#ababab; stroke:none }
#col_year .xaxis line, #dateChart .xaxis line { stroke:lightgray}
#dateChart .xaxis path { stroke:none}
#dateChart .xaxis text {fill:black}

#mapW circle, #mapC circle {fill-opacity:0.8; stroke:white}
/*#dateChart line {stroke:gray; stroke-width:2px}*/
/*#dateRg {fill:red}*/

#col2 {padding-top:0; margin-top:0}
.svgContainer {
    overflow-x:scroll; overflow-y:hidden;
    position:relative;
    font-size:11px
}
#seqContainer { font-family:Courier; cursor:none }
.codonBg { fill:rgb(247,247,247) }
.mark { text-anchor:end }

.opc0{ opacity:0}

.guide { background-color:rgba(256,180,180,0.4); position:absolute }
#guideH {z-index:1000}

.info { position:absolute; white-space:nowrap}
#instruction { top:13px; right:70px; font-size:13px }
#geneName { top:13px; left:430px; font-size:14px }
#showWhat {
    top:8px; right:25px;
    width:85px;
    background-color:#eee;
    text-shadow:1px 1px white;
    cursor:pointer;
    font-size:12px
}

#dnaComp {margin-left:5px}
.compBgLine {stroke:white}
#dnaComp path {fill:none}
.lowOpc { opacity:0.1}
.path0 { stroke:#02bd02 }
.path1 { stroke:deepPink }
.path2 { stroke:DodgerBlue }
#compY, #mapW, #ack {font-size:13px}
#compY{text-align:right}

.orangeStroke{stroke:orange!important}
.orangeFill{fill:orange!important}

.redStroke { stroke:red}
.redFill {fill:red; color:red}

.blueColor {color:DodgerBlue}

#affiliation {height:15px; color:gray; font-style:italic}

#tipNet {text-align:center; z-index:2001}
#tipNet span {font-size:11px; font-weight:100}

#infoContainer {
    position:relative;
    height:183px
}
.node_edge {
    width:492px;
    overflow-y:auto;
    padding:0 6px;
    font-size:11px
}
.node_edge table {width:100%}
.node_edge th {font-weight:normal}
.node_edge td {line-height:14px}

#nodeInf {height:112px; padding-top:5px}
#nodeInf th {width:60px; color:#999; vertical-align:top; text-align:left}
#nodeInf td {font-weight:100}
#nodeInf hr {
    border:white 2px solid; border-top:1px solid #c1c1c1
/*    border-top:1px solid lightgray; border-bottom:1px solid white*/}

#virusName {width:250px}
#nPatient {position:absolute; top:7px; right:18px}

#chgInf {padding:0; text-align:center; height:50px}
#chgInf td, #chgInf th {
    width:70px;
    overflow:hidden; display:inline-block
}
#chgInf td { font-family:Courier; padding:0}
#chgInf th {color: gray}
#chgTbl {margin-left:auto; margin-right:auto; width:90%}

#refLine {stroke:#b3b3b3; stroke-width:6px}
#refOrf rect {fill:#ffe4b2; stroke:gray}
.refSym {font-size:10px; text-anchor:middle; font-style:italic }

.colorC {position:absolute; left:127px; color:#808080; font-weight:100; font-size:13px; z-index:1500}
.colorC:nth-of-type(2) {top:239px}

#selCtry {left:428px}
#selCtry span {font-size:9px}
.nodeId {font-size:8.5px; text-anchor:middle; font-family:Arial Narrow}
/*.bat {text-anchor:middle; font-size:30px}*/

#isoSearch {height:24px; border-bottom:1px solid #bbb; padding:4px 0 0 0; font-size:11px}
#searchContainer {position:absolute; top:1px; left:65px}

.search {
    position:relative;
    line-height:14px;
    color:#aaa;
    font-size:12px;
}
.fa-search {position:absolute; top:5px; left:5px; font-size:12px}
.search input {text-indent:18px}

.algolia-autocomplete {width:354px; /*font-size:11px*/}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {width:100%}
.algolia-autocomplete .aa-hint {color:#999}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {background-color:#B2D7FF}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal
}
